#site {
    text-align: center;
}

body {
    background-color: #ECF5F7;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 4rem;
    font-weight: 500;
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

p {
    font-family: "Open Sans", sans-serif;
}